@model PositionCreateItemVM
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

